{% extends "front/layout.twig" %}

{% block content %}

    <div class="block block-fill-height text-center">
        <div class="container">
            <div class="row">


                    {% for post in postList %}
                        <div class="col-sm-4">
                                <div class="card">
                                    {% if post.image.name %}
                                        <img class="card-img-top" src="{{ base_url() }}/uploads/{{ post.image.name }}" alt="Card image cap">
                                    {% endif %}
                                    <div class="card-block">
                                        <h4 class="card-title">{{ post.title }}</h4>
                                        <p class="card-text">{{ post.description }}</p>
                                        <a href="{{ path_for('legislative',{ 'slug': post.slug }) }}" class="btn btn-sm btn-pill btn-default"><span class="icon icon-info"></span> Citeste mai multe!</a>
                                    </div>
                                </div>
                        </div>

                    {% endfor %}






            </div>

            {% if postList.currentPage %}

                <div class="ui basic center aligned segment float-right">
                    <div class="ui yellow pagination menu">
                        <a class="item" {% if postList.currentPage != 1 %} href="{{ path_for('legislative') }}?page={{ postList.currentPage - 1 }}" {% endif %}><span>&laquo;</span></a>
                        {% if postList.lastPage > 4 %}
                            {% for value in 1..4 %}
                                <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ value }}">{{ value }}</a>
                            {% endfor %}
                            {% for value in (postList.currentPage+1)..(postList.currentPage + 1) if (postList.currentPage < postList.lastPage) and (postList.currentPage > 3) %}
                                {% if postList.currentPage > 4 %}<a class="{% if postList.currentPage == (value - 1) %} active {% endif %} item" href="{{ path_for('legislative') }}?page={{ value - 1 }}">{{ value - 1 }}</a>{% endif %}
                                <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ value }}">{{ value }}</a>
                            {% endfor %}
                            <div class="disabled item">...</div>
                        {% else %}
                            {% for value in 1..(postList.lastPage-1) %}
                                <a class="{% if postList.currentPage == value %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ value }}">{{ value }}</a>
                            {% endfor %}
                        {% endif %}
                        <a class="{% if postList.currentPage == postList.lastPage %} active {% endif %} item"	 href="{{ path_for('legislative') }}?page={{ postList.lastPage }}">{{ postList.lastPage }}</a></li>
                        <a class="item" {% if postList.currentPage != postList.lastPage %} href="{{ path_for('legislative') }}?page={{ postList.currentPage + 1 }}" {% endif %} rel="next">&raquo;</a>
                    </div>
                </div>

            {% endif %}
        </div>
    </div>



{% endblock %}